<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "/css/HSLayout.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap"
          rel="stylesheet">
    <title>Hello Senpai</title>
    <script type="text/javascript" src="https://me.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=JPbH1AYmxDpIz-HXd-O4Pr0bkjX1WudF59BLwlL0yEpoy1K1LtFRq77QCtTbeRULgzAU6ZwFefxQaSF_QmmsuHLGT-bvxIMtqLDOIKyiT4eOBY3z65uNZlwZGrtIL0_6whT57_0bI7g0ZPZFz-ptlA" charset="UTF-8"></script>
</head>

<body>
    <div class=Wrapper>


        <div class="TopNav">
            <h1>Hello Senpai</h1>
            <ul class="toplinks">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Profile</a>
                </li>
                <li>
                    <a href="">Chatroom</a>
                </li>
            </ul>
            <div class="Search-bar">
                <input type="text" placeholder="Search">
                <input type="Submit" value="Go">
            </div>
        </div>

        <div class="SideNav">
            <div class="test">
                <div class="sideimg">
                    <img class="sideimg" src="https://source.unsplash.com/random" alt="profile image">

                </div>
                <!-- <img class="sideimg" src="https://source.unsplash.com/random" alt="profile image"> -->
            </div>

            <ul class="Sidelinks">
                <li>
                    <a asp-controller="Home" asp-action="newsfeed">Home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="learn">Learn</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Index">Progress</a>
                </li>
                <li>
                    <a asp-controller="Lectures" asp-action="Index">Culture</a>
                </li>
                <li>
                    <a asp-controller="Lectures" asp-action="Index">Other</a>
                </li>
            </ul>
        </div>

        <div class="MainContent">


            @RenderBody()


        </div>


    </div>
</body>

</html>