@{ Layout = "_HSLayout";
    }

<link href="~/css/learn.css" rel="stylesheet" />


<div class="fourli left-block">
    <a asp-controller="Home" asp-action="lessons">Lessons</a>
    <a href="default.asp" target="_blank">Lectures</a>
</div>

<div class="fourli right-block">
    <a href="default.asp" target="_blank">Quizzes </a>
    <a href="default.asp" target="_blank">Games</a>
</div>  




